spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ledger
    username: postgres
    password: example

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  redis:
    host: localhost
    port: 6379

logging:
  level:
    org.springframework: INFO
